.Player {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: sans-serif;
  margin: 20px 0;
  justify-content: center;
}

.Player__Score {
  padding: 12px;
  width: 4ch;
}

.Player__Name {
  padding: 12px;
  justify-content: center;
}
